{% extends 'layouts/a.html' %}
{% block content %}


<article class="card">
    <div class="flex items-center justify-between px-4 h-14">
        <h3 class="text-lg font-bold w-[50%] truncate">Madison Blue</h3>
        <div class="text-sm text-grey-500">flickr @ <a href="" class="hover:underline" target="">steve Jason</a></div>
    </div>
    <figure>
        <a href=""><img class="w-full" src="https://live.staticflickr.com/65535/50618365686_36f887ab88_c.jpg"></a>
    </figure>
    
    <div class="p-4 pb-2">
        <a class="flex items-center gap-1 mb-4" href="">
            <img class="w-8 h-8 rounded-full" src="https://img.icons8.com/office/62/address.png" alt="address" />
            <span class="font-bold hover:underline">Delhi Noida Sector-8</span>
        </a>
        <p class=""><img class="w-7 h-7 rounded-full" src="https://img.icons8.com/office/30/rupee.png" alt="rupee" /></p>3999<strong> /per night</strong>
        <div class="flex items-center gap-2 text-sm mb-5">
            <a class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-500 hover:text-white" href="">Premuim</a>
            <a class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-500 hover:text-white" href="">Luxury Stays</a>
        </div>
        <div class="flex items-center justify-between text-sm px-2">
            <a class="font-bold hover:underline" href="">Comments<span class="font-light text-gray-500 ml-2">3</span></a>
            <div class="flex items-center gap-4 [&>a:hover]:underline">
                <div class="flex items-center gap-1"><img class="h-10 w-10 -mt-1" src="https://img.icons8.com/isometric/50/5-star-hotel.png" alt="5-star-hotel" />1</div>
                <a href="">Like</a>
                <a href="">Save to later</a>
            </div>
        </div>
    </div>
</article>




{% endblock %}