

<aside x-show="mobileSidebarOpen" x-cloak class="md:!block col-span-full md:col-span-1 mx-[5%] md:mr-[20%] order-1 md:order-2" x-transition:enter="duration-300 ease-out" x-transition:enter-start="opacity-0 -mt-96" x-transition:enter-end="opacity-100 mt-0">
    <!-- top sidebar menu -->
    <section class="card p-4">
        <h2>Rooms Categories</h2>
        <ul class="hoverlist">
            <li class="highlight">
                <a href="">
                    <img class="w-10 h-10 object-cover mr-2" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-rooms-hotel-management-flaticons-lineal-color-flat-icons.png" alt="external-rooms-hotel-management-flaticons-lineal-color-flat-icons"
                    />
                    <strong>Junior Suite</strong>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="w-10 h-10 object-cover mr-2" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/62/external-rooms-casino-flaticons-lineal-color-flat-icons-3.png" alt="external-rooms-casino-flaticons-lineal-color-flat-icons-3" />
                    <strong>Rooms with Lounge</strong></a>
            </li>
            <li>
                <a href="">
                    <img class="w-10 h-10 object-cover mr-2" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-rooms-hospitality-services-flaticons-lineal-color-flat-icons.png" alt="external-rooms-hospitality-services-flaticons-lineal-color-flat-icons"
                    /> <strong>The Presential Suite</strong></a>
            </li>
            <li>
                <a href="">
                    <img class="w-10 h-10 object-cover mr-2" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-rooms-plastic-surgery-flaticons-lineal-color-flat-icons.png" alt="external-rooms-plastic-surgery-flaticons-lineal-color-flat-icons"
                    />
                    <strong>The Suite</strong></a>
            </li>
            <li>
                <a href="">
                    <img class="w-10 h-10 object-cover mr-2" src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-rooms-plastic-surgery-flaticons-flat-flat-icons.png" alt="external-rooms-plastic-surgery-flaticons-flat-flat-icons" />
                    <strong>Themed Rooms</strong></a>
            </li>
        </ul>
    </section>

    <!-- second sidebar menu -->
    <section class="card p-4">
        <h2 class="">Top Hotels</h2>
        <ul class="hoverlist">
            <li>
                <a href="">
                    <img class="w-10 h-10 rounded-lg object-cover mr-3" src="https://live.staticflickr.com/65535/50618365686_36f887ab88_c.jpg">
                    <img class="w-8 h-8 rounded-full" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-motel-hotel-management-flaticons-lineal-color-flat-icons.png" alt="external-motel-hotel-management-flaticons-lineal-color-flat-icons"
                    />
                    <span class="font-bold text-sm mr-1">Radisson Blooms</span>
                    <span class="text-sm font-light text-grey-500">(16 Likes)</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="w-10 h-10 rounded-lg object-cover mr-3" src="https://live.staticflickr.com/65535/50618365686_36f887ab88_c.jpg">
                    <img class="w-8 h-8 rounded-full" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-motel-hotel-management-flaticons-lineal-color-flat-icons.png" alt="external-motel-hotel-management-flaticons-lineal-color-flat-icons"
                    />
                    <span class="font-bold text-sm mr-1">Casino Palms</span>
                    <span class="text-sm font-light text-grey-500">(72 Likes)</span>
                </a>
            </li>
        </ul>
    </section>

    <!-- second sidebar menu -->
    <section class="card p-4">
        <h2 class="">Top Destinations</h2>
        <ul class="hoverlist">
            <li>
                <a href="">
                    <img class="w-8 h-8 rounded-full object-cover mr-1" src="https://img.icons8.com/cotton/64/location--v2.png" alt="location--v2" />
                    <span class="font-bold text-sm mr-1">California</span>
                    <span class="text-sm font-light text-grey-500">(151 Likes)</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img class="w-8 h-8 rounded-full object-cover mr-1" src="https://img.icons8.com/cotton/64/location--v2.png" alt="location--v2" />
                    <span class="font-bold text-sm mr-1">Malibu</span>
                    <span class="text-sm font-light text-grey-500">(151 Likes)</span>
                </a>
            </li>
        </ul>
    </section>
</aside>